body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    padding-top: 50px;
    background-color: g;
}

#titulo_gestao_usuarios {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    font-family: "Montserrat";
    font-weight: 700;
    color: #002A48;
}

#icon_titulo{
  margin-right: 15px;
}

#texto_titulo{
  margin-bottom: 0;
}

.secao{
    align-self: center;
    border-radius: 8px;
    padding: 30px;
    width: 100%;
    /*box-shadow: 3px 2px 8px #2222;*/
    margin: 10px;
    background-color: white;
    border: solid 2px whitesmoke;
}

.nav-underline {
    gap: 1rem;
    border-width: 0.35rem;
    color: #776CFA;
    gap: var(--bs-nav-underline-gap);
}

#input_filtros{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.label_input{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
    white-space: nowrap;    
    font-family: "Montserrat";
    color: #555555;
}

.form-label{
  margin-right: 15px;
  font-weight: 500;
  white-space: nowrap;
  font-size: 1.03em;
}


#botoes_filtros{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn{
  margin-left: 10px;
}

#btnFiltrar{
    background-color: #776CFA;
    border:solid 1px #776CFA;
    color: white;
}

#btnFiltrar:hover{
    background-color: #776CFA;
    border: solid 1px #776CFA;
    color: white;
    box-shadow: inset -1px -1px 20px 1px #58529F;
}

#btnLimpar{
    background-color: white;
    border: solid 1px #776CFA;
    color: #776CFA;
}

#btnLimpar:hover{
    background-color: #776CFA;
    color: white;
}

#tabela_socios_ativos{
    width: 100% !important;
}

.label_situacao_financeira {
    border-radius: 16px;
    padding: 6px;
    font-weight: bold;
    font-size: 12px;
    border: solid 1px;
}

.label_regular{
    color: #26c126;
    background-color: #f5fff9;
    border-color: #26c126;
}

.label_debito{
    color: rgb(255, 200, 0);
    background-color: #fffcf1;
    border-color: gold;
}

.label_inadimplente{
    color: #ff3434;
    background-color: #fff8f8;
    border-color: #ff3434;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #776CFA;
    border: 1px solid #776CFA;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 6px;
    padding: 0 5px;
    color: #ffffff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #00F;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 6px;
    cursor: text;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ced4da;
    outline: 0;
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #e8e8e8;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #776CFA;
    color: white;
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #776CFA;
    border-color: #776CFA;
    border-radius: 18px;
    height: 35px;
    width: 35px;
}

.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: #776CFA;
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 35px;    
    border-radius: 18px;
}

