#secao_dados_pessoais {
    margin: 0px 0 50px 0;
}

#situacao_financeira{
    margin-bottom: 20px;
}

.sublinhado{
    width: 130px;
    background-color: #776CFA;
    height: 4px;
}

.form-control{
    height: 40px;
    padding: 16px;
    border: solid 2px rgba(224, 224, 224, 0.75);
    border-radius: 6px;
}

.form-select{
    height: 40px;
    border: solid 2px rgba(224, 224, 224, 0.75);
}

#btn_add_dependente, #btn_add_mensalidade{
    height: 40px;
    border-radius: 6px;
    border: none;
    font-size: 16px;    
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.botaoAdicionar.disabled{
    background-color: #776CFA;
    cursor: not-allowed;
}

#btnReativarSocio, #btnInativarSocio{
    margin: 1px;
}

.lista{
    align-self: center;
    border-radius: 8px;
    padding: 30px;
    width: 100%;
    background-color: white;
    border: solid 2px rgba(224, 224, 224, 0.75);
    margin-top: 35px;
}

table{
    margin-top: 20px;
    width: 100% !important;
}

.campos-formulario{
    display: flex;
    align-items: flex-end;
}

.nav-underline {
    --bs-nav-underline-gap: 0rem;
    --bs-nav-underline-border-width: 0.125rem;
    --bs-nav-underline-link-active-color: var(--bs-emphasis-color);
    gap: var(--bs-nav-underline-gap);
}

.nav-underline .nav-link {
    padding-right: 0;
    padding-left: 0;
    border-bottom: var(--bs-nav-underline-border-width) solid ;
    color: #002A48;
    transition: 0.5s;
}

.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    font-weight: 800;
    color:#002A48;
    border-bottom-color: rgba(119, 108, 250, 0.8);
    border-bottom-width: 6px;
    transition: 0.5s;
}